body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
}

.header span {
  display: flex;
}

.header nav {
  display: inline-flex;
}

.content {

}

img {
  height: 200px;
  width: 300px;
}
