body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 5;
  align-items: center;
  background-color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header img {
  height: 50px;
  padding-left: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

.container {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: center;
  background-color: black;
  align-content: center;
  border: 1px solid blue;
}

.column {
  flex-direction: column;
}

.text {
  background-color: black;
  width: 100%;
}

#mission {
  margin-top: 69px;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
}

#featured {
  width: 1000px;
  display: block;
}

#featured img {
  width: 300px;
  height: 200px;
  margin: 0 25px;
}

h4 {
  margin-top: 10px;
}

.box {
  display: inline-flex;
  justify-content: center;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
}

.loctext {
  display: block;
}

.locbox {
  display: flex;
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
  margin: 0px 20px;
}

#contact {
  height: 200px;
}

footer {
  display: flex;
  width: 100%;
  border: 1px solid blue;
  padding-left: 20px;
  text-align: left;
}
